/****** General ***********/
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid,
.fa-regular {
  color: var(--main-color);
}

body {
  margin: 0;
}

.euro {
  font-weight: 700;
}

h2 {
  font-size: 22px;
}

@media (min-width: 320px) {
  header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
  }

  .logo {
    width: 100%;
    text-align: center;
    padding-top: 12px;
  }

  .logo img {
    width: 61.09px;
    height: 19px;
  }

  nav {
    width: 100%;
    display: flex;
  }

  nav a {
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 16px 0;
    border-bottom: 2px solid #f2f2f2;
  }

  nav a:active, nav a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }

  .info-group {
    padding: 0 24px;
  }

  .headline {
    padding: 0 16px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    padding-top: 10px;
    width: 100%;
  }

  .search-bar input {
    border: 1px solid hsl(0, 0%, 95%);
    border-left: none;
    flex: 1;
    padding: 15px;
  }

  .search-bar button {
    background-color: #0065fc;
    color: white;
    border: none;
    height: 49px;
    cursor: pointer;
    border-radius: 15px;
    width: 50px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  }

  .search-bar button span {
    display: none;
    font-weight: bold;
  }

  .fa-solid.fa-magnifying-glass {
    color: #ffffff;
    padding: 10px;
  }

  .fa-solid.fa-location-dot {
    color: #000000;
    border-radius: 30% 0 0 20%;
    background-color: #f2f2f2;
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-bar {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  .filter-bar p {
    font-weight: bold;
    width: 100%;
  }

  .filter-buttons {
    width: 100%;
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  .filter-buttons > div {
    display: flex;
    gap: 12px;
  }

  .filter-bar button {
    color: #000000;
    font-weight: bold;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    text-align: left;
  }

  .filter-bar button:hover {
    background-color: #deebff;
  }

  .filter-bar button i {
    width: 24px;
  }

  .info-bar {
    padding-top: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .info-bar i {
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .info-bar p {
    margin: 0;
  }

  .popular-and-accommodation {
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 24px;
  }

  .popular {
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 24px;
  }

  .popular-title {
    display: flex;
    align-items: center;
    padding: 0 12px;
  }

  .popular-title h2 {
    flex: 1;
  }

  .popular-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .popular-cards .card {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 4px solid #ffffff;
  }

  .popular-cards img {
    width: 33%;
    height: 136px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
  }

  .popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }

  .popular-cards .card-subtitle {
    margin: 0;
  }

  .popular-cards .card-rating {
    margin-bottom: 5px;
  }

  .accommodation {
    padding: 0 24px 24px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .accommodation-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 12px;
  }

  .accommodation-card-group {
    width: 100%;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  .accommodation-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
  }

  .accommodation-card img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .card-content {
    padding: 5px;
  }

  .accommodation-title {
    font-size: 18px;
    margin: 0;
  }

  .accommodation-subtitle {
    font-size: 14px;
    color: #2b0f0f;
    margin: 8px 0;
  }

  .card-rating {
    display: flex;
    align-items: center;
  }

  .card-rating i {
    margin-right: 5px;
  }

  .accommodation button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    font-size: 16px;
  }

  .show-more {
    flex: 1;
    display: flex;
    align-items: flex-end;
  }

  .things-to-do {
    padding: 24px;
  }

  .activities {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .activity {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    display: flex;
    flex-direction: column;
  }

  .activity:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .activity img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .activity h3 {
    margin: 20px;
  }

  footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  footer ul {
    width: 33%;
    list-style-type: none;
  }

  footer a {
    text-decoration: none;
    color: #000000;
  }

  footer li {
    margin-bottom: 16px;
  }

  footer span {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .main-container {
    padding: 0 24px;
  }

  header {
    padding-top: 0;
  }

  .logo {
    flex: 1;
    text-align: left;
    padding-top: 24px;
  }

  nav {
    width: auto;
    gap: 48px;
  }

  nav a {
    border-bottom: none;
    width: auto;
  }

  nav a:active, nav a:hover {
    border-top: 2px solid var(--main-color);
    border-bottom: none;
  }

  .headline {
    padding: 0;
  }

  .search-bar {
    width: 400px;
  }

  .search-bar button {
    background-color: #0065fc;
    color: white;
    border: none;
    width: 120px;
    height: 49px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
  }

  .search-bar button span {
    display: block;
    font-size: 16px;
  }

  .search-bar button i {
    display: none;
  }

  .filter-buttons {
    flex-direction: row;
  }

  .filter-buttons > div {
    flex: 1;
  }

  .popular {
    border-radius: 20px;
  }

  .popular-cards {
    flex-direction: row;
  }

  .popular-cards .card {
    flex: 1;
  }

  .popular-and-accommodation {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }

  .accommodation {
    background-color: var(--main-bg-color);
    border-radius: 20px;
  }

  .accommodation-cards {
    flex-wrap: nowrap;
    flex-direction: column;;
  }

  .accommodation-card {
    flex: 1;
  }

  .activities {
    flex-direction: row;
  }

  .activity {
    flex: 1;
  }

  .activity img {
    flex: 1;
    object-fit: cover;
  }

  footer {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .main-container {
    max-width: 1440px;
    margin: auto auto;
  }

  .filter-bar {
    gap: 12px;
  }

  .filter-bar p {
    width: auto;
  }

  .filter-buttons {
    flex: 1;
  }

  .popular-cards {
    flex-direction: column;
  }

  .popular-and-accommodation {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1900px) {

}
