/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

head {
	.logo {
		color: var(--main-color);
	}

	ul {
		display: flex;
		list-style: none;
	}
}
body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    ul {
        display: flex;
        list-style: none;
        gap: 20px;
    }
}

main {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container {
	outline: 1px solid rgb(0, 255, 13);
	width: 100%;
	margin: 0 auto;
    padding: 0 15px
}

.main-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.USD {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/*header*/
.nav-buttons {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
  }
  
  li {
    outline: 1px;
  }
  
  .nav-button {
    display: flex;
    gap: 10px;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .nav-button::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 4px; 
    background-color: blue;
    transform: scaleX(0); 
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-button:hover::before {
    transform: scaleX(1); 
  }
  
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
    }
  
    .nav-button {
      width: 100%;
    }
  }

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    /*display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
    width: 100%;
	margin: 0 auto;
    padding: 0 15px*/
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.accommodation-and-popular-section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    display: flex;
    gap: 30px;
    flex-direction: column;
    
}

.accommodation-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.accommodation-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px
}

.accommodation-cards .card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    height: 250px;

}

.accommodation-cards img {
    width: 300px;
    height: 55%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.accommodation-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.accommodation-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/****** Popular ***********/
.popular {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
    width: 350px
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/* activities */


.activity-container {

}

.activities {
    display: flex;
    flex-direction: column;
}

.activities-section-title {
    font-style: 20px;
}

.activities-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.activities-cards .postcard {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.541));
    max-width: 300px;
}

.postcard {
}

.postcard img {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: 150px;
}

footer {
    display: grid;
    gap: 50px;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.C-title {
    font-size: 17pt;
    font-weight: bold;
}

.list-links {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5px;
}

.list-link {
    color: var(--main-color);
    font-size: 15pt;
    text-decoration: none;
}

.list-link:hover {
    text-decoration: underline;
}